* {
    box-sizing: border-box;
}

body {
    background: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
}

#container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    min-width: 1000px;
}

.square {
    background: #181717;
    box-shadow: 0 0 2px #000;
    margin: 2px;
    width: 20px;
    height: 20px;
    transition: 2s ease;
}

.square:hover {
    transition-duration: 0s;
}